### outliers percentile

In [ ]:
import pandas as pd

df = pd.read_csv("./DATASETS/heights.csv").head()
df

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

Detect outliers using percentile

In [14]:
max_thresold = df['height'].quantile(0.95)
print(max_thresold)

5.82

In [9]:
df[df['height']>max_thresold]

    name  height
0  mohan     5.9

In [13]:
min_thresold = df["height"].quantile(0.05)
print(min_thresold)

4.94

In [12]:
df[df["height"] < min_thresold]

    name  height
4  virat     4.9

Remove outliers

In [17]:
df[(df["height"] < max_thresold ) & (df["height"] > min_thresold)]

    name  height
1  maria     5.2
2  sakib     5.1
3    tao     5.5

### Now lets explore banglore property prices dataset

In [ ]:
df = pd.read_csv("./DATASETS/bhp.csv")
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250
...,...,...,...,...,...,...,...
13195,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689
13196,other,4 BHK,3600.0,5.0,400.00,4,11111
13197,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258
13198,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407
13199,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090

In [22]:
df.shape

(13200, 7)

In [23]:
df.describe

<bound method NDFrame.describe of                        location       size  total_sqft  bath   price  bhk  \
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
...                         ...        ...         ...   ...     ...  ...
13195                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13196                     other      4 BHK      3600.0   5.0  400.00    4
13197     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13198           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13199              Doddathoguru      1 BHK       550.0   1.0   17.00    1

       price_per_sqft
0                3699
1                4615
2                4305
3                6245
4                4250
...               ...
13195            6689
13196           11111
13197            5258
13198           10407
13199            3090

[13200 rows x 7 columns]>

In [24]:
min_thresold, max_thresold = df["price_per_sqft"].quantile([0.001,0.999])
min_thresold, max_thresold

(1366.184, 50959.36200000098)

In [27]:
df["price_per_sqft"] > max_thresold

0        False
1        False
2        False
3        False
4        False
         ...
13195    False
13196    False
13197    False
13198    False
13199    False
Name: price_per_sqft, Length: 13200, dtype: bool

In [28]:
df["price_per_sqft"] > max_thresold

0        False
1        False
2        False
3        False
4        False
         ...
13195    False
13196    False
13197    False
13198    False
13199    False
Name: price_per_sqft, Length: 13200, dtype: bool

In [29]:
df2 = df[(df["price_per_sqft"] < max_thresold) & (df["price_per_sqft"] > min_thresold)]
df2

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250
...,...,...,...,...,...,...,...
13195,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689
13196,other,4 BHK,3600.0,5.0,400.00,4,11111
13197,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258
13198,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407
13199,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090

In [30]:
df2.shape

(13172, 7)

In [31]:
df2.describe

<bound method NDFrame.describe of                        location       size  total_sqft  bath   price  bhk  \
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
...                         ...        ...         ...   ...     ...  ...
13195                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13196                     other      4 BHK      3600.0   5.0  400.00    4
13197     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13198           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13199              Doddathoguru      1 BHK       550.0   1.0   17.00    1

       price_per_sqft
0                3699
1                4615
2                4305
3                6245
4                4250
...               ...
13195            6689
13196           11111
13197            5258
13198           10407
13199            3090

[13172 rows x 7 columns]>